body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#frontBuffer {
  width: 100%;
  height: 600px;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#click_counter {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#click_counter button {
  font-size: 24pt;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
