<polymer-element name="webiero-form">
  <template>
    <p>Player name:
      <input type="text" value="{{playerName}}"/>
    </p>
    <p>Server address
      <input type="text" value="{{serverAddress}}" />
    </p>
    <p>Room name (optional)
      <input type="text" value="{{roomName}}" />
    </p>
    <button on-click="{{connect}}">Connect</button>
    <button on-click="{{disconnect}}">Disconnect</button>
  </template>
  <script type="application/dart" src="wform.dart">
  </script>
</polymer-element>
